@* Header component *@

<div class="header-wrapper">

    <div class="navbar">
        <a href="/">Hem</a>
        <a href="/convert">Konvertering</a>
        <a href="/json">JSON</a>
    </div>
</div>