.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  border-radius: 1rem;
}
.navbar a {
  float: left;
  padding: 1rem 0;
  color: white;
  text-decoration: none;
  width: 33.33%;
  text-align: center;
}
.navbar a:hover {
  background-color: black;
}

/* Navigation links */
