@inherits LayoutComponentBase

<div class="main-container">

   
        <header>
            <HeaderLayout />
        </header>

        <main>
            @Body
        </main>

        <footer>
            <FooterLayout />
        </footer>


</div>
