/* /Layout/HeaderLayout.razor.rz.scp.css */
.navbar[b-7gqc06dhrd] {
  width: 100%;
  background-color: #555;
  overflow: auto;
  border-radius: 1rem;
}
.navbar a[b-7gqc06dhrd] {
  float: left;
  padding: 1rem 0;
  color: white;
  text-decoration: none;
  width: 33.33%;
  text-align: center;
}
.navbar a:hover[b-7gqc06dhrd] {
  background-color: black;
}

/* Navigation links */
/* /Layout/JsonFetchComponent.razor.rz.scp.css */
table[b-wnhcmt2y0t] {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td[b-wnhcmt2y0t], th[b-wnhcmt2y0t] {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even)[b-wnhcmt2y0t] {
  background-color: #dddddd;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.main-container[b-skgye4kbne] {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header[b-skgye4kbne] {
  background-color: #333;
  color: white;
  padding: 1.5rem;
}

main[b-skgye4kbne] {
  width: 96%;
  max-width: 1080px;
  margin: 1rem auto;
}

footer[b-skgye4kbne] {
  background-color: #333;
  color: white;
  padding: 1.5rem;
  text-align: center;
  margin-top: auto;
}
/* /Pages/Convert.razor.rz.scp.css */
.converter-page-wrapper[b-0eej5ehodi] {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.converter-page-wrapper .meter-converter-wrapper[b-0eej5ehodi] {
  text-align: center;
}
.converter-page-wrapper .speed-converter-wrapper[b-0eej5ehodi] {
  text-align: center;
}
/* /Pages/Home.razor.rz.scp.css */
h1[b-5sod3xy88l] {
  color: black;
}

p[b-5sod3xy88l] {
  font-weight: normal;
  line-height: 1.4;
  text-align: justify;
  font-size: large;
}
/* /Pages/Json.razor.rz.scp.css */
h1[b-wqk7h7ej7l] {
  color: rebeccapurple;
}
